body{
    background-attachment: fixed;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    font-family: lato;
    color: rgb(255, 255, 255);
}

#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px #2e2b6c;
               
}

#content1{
    margin-top: 5%;
    background-color:  rgb(255, 255, 255,0.7);
    color: #4e4c4c;
    border-radius: 25px;
    padding: 7px;
    
    
}

#cen{
padding-left: 2%;  
}

#cenb{
    padding-left: 15%;  
    }

#size{
    font-size: medium;
}

.row{
    margin-top: 3%;
}
#content2 {
    margin-top: 7%;
   text-align: center;
}

.media{
    padding-top: 2%;
    background-color:  rgb(255, 255, 255,0.7);
    color:black;
    border-radius: 15px;
    text-align: left;

}

.media-body .jumbotron{
    background-color:  rgb(255, 255, 255,0.7);
    color:black;
    border-radius: 25px;
    padding: 6px;
}

p {
    font-size: 2em;
    padding-block: 5%;
}
h1 {
    
    font-weight: 700;
    font-size: 5em;
}
h2{
    text-align: center;
    padding-top: 5%;
}

h5{
    color: black;
}

html {
    height: 100%;
}

hr{
    width: 700px;
}

#desc1{
    font-size: small;
}

.navbar-default{
    background-color:  rgb(255, 255, 255,0.7);
}

.navbar-default .navbar-nav>li>a {
    color: #4e4c4c;
}

.font-control{
    background-color: #ffffffa8;
}